* {
    margin: 0px;
    padding: 0px;
}

.cubierta {
    background-color: rgba(0, 0, 0, 0.84);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(4px);
    top: 0px;
}

.video-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    filter: saturate(150%);
    filter: blur(4px);
}



h2 {
    color: white;
    font-family: cursive;
    margin-bottom: 0.2em;

}

iframe {
    margin: 0px;
}

#titulo {
    font-family: cursive;
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}


#fondo {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;

}

#main_area {

    display: flex;
    margin: auto;
    margin-top: 1em;
    flex-direction: column;
    justify-content: center;
    width: 50%;


}

#titulo {
    display: inline-block;
    text-align: center;

}

.mensaje_rana {
    text-align: center;
    background-image: url("../resources/frog.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    height: 24em;
    width: 24em;
    margin-left: 35%;
    margin-top: 10%;
    z-index: 3;
    animation-name: frog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.mensaje_rana:hover {
    cursor: pointer;
}

@keyframes frog {
    0% {}

    70% {
        transform: scale(1.1);
    }

    100% {}
}

.desaparece {
    display: none;
}

.mensaje_rana * {
    position: relative;
    top: 50%;
}

#icono_song {
    background-image: url("../resources/song.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 1.5em;
    width: 1.5em;

}

#icono_imagen {
    background-image: url("../resources/wedding-photos.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 1.5em;
    width: 1.5em;
}

.icono_stars {
    background-image: url("../resources/sparkles.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 1.5em;
    width: 1.5em;
}


#musicaImagen {
    background-image: url("../resources/dry-leaves-wallpaper-4k.jpg");
    border-radius: 10%;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.415);

}

#content_container {

    padding: 10px;
}

#imagenDia {
    width: 30%;
}

#imagenDia img {
    width: 100%;
}

#imagenDia video {
    width: auto;
    height: 14em;
    max-width: 100%;
}

#imgBkground {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    border-radius: 18px;
}